<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>

  <div class="menu">
  <nav>
    <div id="heading">
    <ul>
      <img src="/JAMESANO.png" alt="Logo" id="menu-image">
      <li><a href="/pizzas/new">Order a pizza</a></li>
      <li><a href="/pizzas">Home</a></li>
    </ul>
  </div>
  </nav>
</div>
  <%= yield %>
</body>
</html>
