body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

h1 {
  margin-left: 5px;
  margin-top: 25px;
}


/*menu navigation*/

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
    padding-top: 10px;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 100%;
}

li a:hover {
    background-color: #111;
}

.menu {
  width: 100%;
}

#pizza-orders {
  margin-left: 5px;
  /*display: flex;*/
  margin-bottom: 10px ;
}

#actions {
  display: flex;
  justify-content: space-around;
}

#btn {
  background-color: tomato;
  color: white;
  border-radius: 5px;
  border: 0;
  font-size: 1.15em;
}
